# Ignore byte-compiled Python files
*.py[cod]

# Ignore Python debug files
*.pyd

# Ignore Python package directories
*.egg-info/
dist/
build/

# Ignore pip files
pip.log
pip-debug.log

# Ignore virtual environments
venv/
env/
*.env

# Ignore IDE directories
.vscode/
.pydevproject

# Ignore operating system files
.DS_Store
Thumbs.db
ehthumbs.db
